<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title th:text=""></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" th:fragment="navbar (active)">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{'/tecnico'}">Técnicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Estadísticas - Equipos</a>
          </ul>
        </div>
      </div>
    </nav>

    <script th:fragment="footer-bootstrap" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>