<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragmentos/botones.html :: header( title = 'GTICS F')}"></head>
    <body>
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Nuevo técnico</h2>

                    <form method="post" th:action="@{'/tecnico/guardar'}">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input name="firstname" type="text" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input name="lastname" type="text" class="form-control" id="apellido">
                        </div>
                        <div class="mb-3">
                            <label for="dni" class="form-label">DNI</label>
                            <input name="dni" type="text" class="form-control" id="dni">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono</label>
                            <input name="phone" type="text" class="form-control" id=phone>
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">Edad</label>
                            <input name="age" type="number" class="form-control" id="age">
                        </div>
                        <a th:href="@{'/tecnico/lista'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>